name: Java CI

on:
  push:
    branches:
      - feature/*
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: adoptopenjdk:11-jdk
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Build with Gradle
      run: ./gradlew clean check
